html, body {
    font-family: "Montserrat", sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.weather-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-content {
    visibility: hidden;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s;
}

.weather-tooltip:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}

.white-text {
    color: white;
    font-size: 27px;
    margin-right: 15px;
}

.carousel-img {
    max-width: 60%;
    max-height: 480px;
    margin: 0 auto;
    display: block;
}

.news-img {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
}

.search-box {
        display: flex;
        justify-content: center;
        margin: 20px auto;
        width: 100%;
        max-width: 500px;
    }

.search-txt {
    width: 100%;
    padding: 12px 20px;
    border: 2px solid #333;
    border-radius: 30px;
    background-color: white;
    color: #fff;
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

.search-txt::placeholder {
    color: #aaa;
}

.search-txt:hover {
    border-color: #555;
    background-color: #111;
}

.search-txt:focus {
    border-color: #fff;
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    background-color: #111;
}


/*REGISTER
***********/

.btn {
    background-color: #000;
    color: #fff;

 transition: background-color .3s ease;
 border: none;
}

.btn:hover {
    background-color: #ffc107;
   /* background-color: #fff;
    color: #000;*/
}




/*NAV
************/
.nav {
    margin: 0;
    padding: 0;
}


.nav-item {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav-link {
    color: #fff;
}

.header-logo {
    width: 120px;
    height: 100px;
    margin-right: 30px;
}

.btn-danger {
    margin-right: 20px;
}

/*CAROUSEL
*********/

.carousel {
    display: flex;
    flex-direction: row;
    width: 1296px;

    -ms-overflow-style: none;  /* IE Ð¸ Edge */
  scrollbar-width: none;

overflow-x: scroll;
scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel >img {
scroll-snap-align: center;
}

.carousel-img {
    border-radius: 20px;
}

.carousel-img {
    margin-top: 20px;
}

/*FOOTER
***********/

.footer-text {
    font-size: 20px;
    font-weight: bold;
}