/* Sticky Footer Fix */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

.weather-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-content {
    visibility: hidden;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: left;
    padding: 8px;
    border-radius: 5px;
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s;
}

.weather-tooltip:hover .tooltip-content {
    visibility: visible;
    opacity: 1;
}

.white-text {
    color: white;
    font-size: 27px;
    margin-right: 15px;
}

.carousel-img {
    max-width: 60%;
    max-height: 480px;
    margin: 0 auto;
    display: block;
}
